<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharpPocketToolsGUI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SharpPocketToolsGUI.My.MySettings>
            <setting name="outputFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="filePolicy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pcModel" serializeAs="String">
                <value>1211</value>
            </setting>
            <setting name="fileNamePolicy" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sharpFileName" serializeAs="String">
                <value />
            </setting>
        </SharpPocketToolsGUI.My.MySettings>
    </userSettings>
</configuration>
